
.pad-top-botm {
    padding-bottom:40px;
    padding-top:60px;
}
h4 {
    text-transform:uppercase;
}

.contact-info span {
    font-size:14px;
    padding:0px 50px 0px 50px;
}

.contact-info hr {
    margin-top: 0px;
margin-bottom: 0px;
}

.client-info {
    font-size:15px;
}

.ttl-amts {
    text-align:right;
    padding-right:50px;
}